<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Homepage</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="/js/navbar.js" defer></script>
    <script src="/js/navElement.js" defer></script>
    <script src="/js/tableHeader.js" defer></script>
    <!-- Link to your custom elements JS file -->
    <script src="/js/tableColumn.js" defer></script>
    <!-- Link to your custom elements JS file -->
    <script src="/js/tableElement.js" defer></script>
    <script src="/js/homepage.js" defer></script>
    <script src="/js/homepageElement.js" defer></script>

    <!-- Link to your custom elements JS file -->

  </head>
  <body>
    <custom-nav data-flag="<%- flag %>" data-index="<%- index %>"></custom-nav>
    <!-- Main Content --> 
     <custom-home data-flag="<%- flag %>"></custom-home>
  </body>
  <style>
    .table-container {
      min-height: 270px; /* Ensuring all tables have the same height */
      
    }
  </style>

</html>
