<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schedule Interview</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

  <script src="/js/heading.js" defer></script> <!-- Link to your custom elements JS file -->
  <script src="/js/navbar.js" defer></script> 
  <script src="/js/navElement.js" defer></script> 


</head>
<body>
  <custom-nav data-flag='<%- flag %>' data-index='<%- index %>'></custom-nav>

  <div class="mt-8 mr-48 ml-48 flex-col items-center">
    <custom-heading data-value="Schedule Interview"></custom-heading>
    


  </div>

</body>
</html>