<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schedule Interview</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script src="/js/tableHeader.js" defer></script> <!-- Link to your custom elements JS file -->
  <script src="/js/tableColumn.js" defer></script> <!-- Link to your custom elements JS file -->
  <script src="/js/tableElement.js" defer></script> <!-- Link to your custom elements JS file -->
  <script src="../node_modules/preline/dist/preline.js"></script>
  <script  src="js/dropdown.js"defer ></script>

</head>
<body>
  <div class="mt-8 mr-48 ml-48 flex-col items-center">
    <h1>Upcoming Interviews</h1>
    <form-dropdown data-value="Select Option" data-options="Apple,Banana,Cherry,Date,Elderberry,Fig,Grape,Honeydew"></form-dropdown>

  </div>
<!-- Select -->

  <!-- End Select -->
</body>
</html>