<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upcoming Interviews</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script src="/js/tableHeader.js" defer></script> <!-- Link to your custom elements JS file -->
  <script src="/js/tableColumn.js" defer></script> <!-- Link to your custom elements JS file -->
  <script src="/js/tableElement.js" defer></script> <!-- Link to your custom elements JS file -->
</head>
<body>
  <div class="mt-8 mr-48 ml-48 flex-col items-center">
    <h1>Upcoming Interviews</h1>

    <custom-table data-interviews='<%- JSON.stringify(interviews) %>' data-headers='<%- JSON.stringify(headers) %>'></custom-table>
  </div>

</body>
</html>
